<app-loading *ngIf="loading"></app-loading>
<table class="table table-striped" *ngIf="!loading">
  <thead>
    <tr class="table-warning">
      <!-- <th scope="col" class="text-center fw-bolder">شماره</th> -->
      <th scope="col" class="text-center fw-bolder">نام</th>
      <th scope="col" class="text-center fw-bolder">خریده شده</th>
      <th scope="col" class="text-center fw-bolder">فروخته شده</th>
      <!-- <th scope="col" class="text-center fw-bolder">موجودی</th> -->
    </tr>
  </thead>
  <tbody>
    <tr class="table-primary">
      <!-- <th class="text-center fw-bold" scope="row">1</th> -->
      <th class="text-center fw-bold" scope="row">روغن موتور</th>
      <td class="text-center fw-bold">{{ buyedengineoilnumber$ | async }}</td>
      <td class="text-center fw-bold">{{ selledengineoilnumber$ | async}}</td>
      <!-- <td class="text-center fw-bold">{{ engineoiltotal }}</td> -->
    </tr>
    <tr class="table-warning">
      <!-- <th class="text-center fw-bold" scope="row">2</th> -->
      <th class="text-center fw-bold" scope="row">روغن گیربکس</th>
      <td class="text-center fw-bold">{{ buyedgearboxoilnumber$ | async }}</td>
      <td class="text-center fw-bold">{{ selledgearboxoilnumber$ | async}}</td>
      <!-- <td class="text-center fw-bold">{{ gearboxoiltotal }}</td> -->
    </tr>
    <tr class="table-primary">
      <!-- <th class="text-center fw-bold" scope="row">3</th> -->
      <th class="text-center fw-bold" scope="row">روغن ترمز</th>
      <td class="text-center fw-bold">{{ buyedbreakeoilnumber$ | async }}</td>
      <td class="text-center fw-bold">{{ selledbreakeoilnumber$ | async}}</td>
      <!-- <td class="text-center fw-bold">{{ breakeoiltotal }}</td> -->
    </tr>
    <tr class="table-warning">
      <!-- <th class="text-center fw-bold" scope="row">4</th> -->
      <th class="text-center fw-bold" scope="row">فیلتر هوا</th>
      <td class="text-center fw-bold">{{ buyedairfilternumber$ | async }}</td>
      <td class="text-center fw-bold">{{ selledairfilternumber$ | async}}</td>
      <!-- <td class="text-center fw-bold">{{ airfiltertotal }}</td> -->
    </tr>
    <tr class="table-primary">
      <!-- <th class="text-center fw-bold" scope="row">5</th> -->
      <th class="text-center fw-bold" scope="row">فیلتر کابین</th>
      <td class="text-center fw-bold">{{ buyedcabinfilternumber$ | async }}</td>
      <td class="text-center fw-bold">{{ selledcabinfilternumber$ | async}}</td>
      <!-- <td class="text-center fw-bold">{{ cabinefiltertotal }}</td> -->
    </tr>
    <tr class="table-warning">
      <!-- <th class="text-center fw-bold" scope="row">6</th> -->
      <th class="text-center fw-bold" scope="row">فیلتر روغن</th>
      <td class="text-center fw-bold">{{ buyedoilfilternumber$ | async }}</td>
      <td class="text-center fw-bold">{{ selledoilfilternumber$ | async}}</td>
      <!-- <td class="text-center fw-bold">{{ oilfiltertotal }}</td> -->
    </tr>
    <tr class="table-primary">
      <!-- <th class="text-center fw-bold" scope="row">7</th> -->
      <th class="text-center fw-bold" scope="row">فیلتر بنزین</th>
      <td class="text-center fw-bold">
        {{ buyedpetrolfilternumber$ | async }}
      </td>
      <td class="text-center fw-bold">{{ selledpetrolfilternumber$ | async}}</td>
      <!-- <td class="text-center fw-bold">{{ petrolfiltertotal }}</td> -->
    </tr>
    <tr class="table-warning">
      <!-- <th class="text-center fw-bold" scope="row">8</th> -->
      <th class="text-center fw-bold" scope="row">ضد یخ</th>
      <td class="text-center fw-bold">{{ buyeduntifreeznumber$ | async }}</td>
      <td class="text-center fw-bold">{{ selleduntifreeznumber$ | async}}</td>
      <!-- <td class="text-center fw-bold">{{ untifreeztotal }}</td> -->
    </tr>

    <tr class="table-primary">
      <!-- <th class="text-center fw-bold" scope="row">9</th> -->
      <th class="text-center fw-bold" scope="row">روغن هیدرولیک</th>
      <td class="text-center fw-bold">
        {{ buyedhydraulicoilnumber$ | async }}
      </td>
      <td class="text-center fw-bold">{{ selledhydraulicoilnumber$ | async}}</td>
      <!-- <td class="text-center fw-bold">{{ hydrolicoiltotal }}</td> -->
    </tr>
  </tbody>
</table>

<div class="d-flex justify-content-center" *ngIf="!loading">
  <button
    type="button"
    class="add-button"
    data-bs-toggle="modal"
    data-bs-target="#exampleModal"
    data-bs-whatever="@mdo"
    class="add-store"
  >
    افزودن به انبار
  </button>
  <div
    class="modal fade"
    id="exampleModal"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body d-flex justify-content-center">
          <div class="card mt-5" style="width: 18rem">
            <div class="card-body">
              <h5 class="card-title text-center">افزودن به انبار</h5>
              <!-- here we put our modal object -->
              <div class="row d-flex justify-content-between mt-2">
                <label for="">{{ rows2[1] }}</label>
                <input
                  placeholder="تعداد"
                  type="number"
                  [(ngModel)]="engineoilnumber"
                />
                <label for="">{{ rows2[2] }}</label>
                <input
                  placeholder="تعداد"
                  type="number"
                  [(ngModel)]="gearboxoilnumber"
                />
                <label for="">{{ rows2[3] }}</label>
                <input
                  placeholder="تعداد"
                  type="number"
                  [(ngModel)]="breakeoilnumber"
                />
                <label for="">{{ rows2[4] }}</label>
                <input
                  placeholder="تعداد"
                  type="number"
                  [(ngModel)]="airfilternumber"
                />
                <label for="">{{ rows2[5] }}</label>
                <input
                  placeholder="تعداد"
                  type="number"
                  [(ngModel)]="cabinfilternumber"
                />
                <label for="">{{ rows2[6] }}</label>
                <input
                  placeholder="تعداد"
                  type="number"
                  [(ngModel)]="oilfilternumber"
                />
                <label for="">{{ rows2[7] }}</label>
                <input
                  placeholder="تعداد"
                  type="number"
                  [(ngModel)]="petrolfilternumber"
                />
                <label for="">{{ rows2[8] }}</label>
                <input
                  placeholder="تعداد"
                  type="number"
                  [(ngModel)]="untifreeznumber"
                />
                <label for="">{{ rows2[9] }}</label>
                <input
                  placeholder="تعداد"
                  type="number"
                  [(ngModel)]="hydraulicoilnumber"
                />
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-danger"
              data-bs-dismiss="modal"
            >
              بستن
            </button>
            <button
              type="button"
              class="btn btn-primary"
              data-bs-dismiss="modal"
              (click)="
                addToStore(
                  engineoilnumber,
                  gearboxoilnumber,
                  breakeoilnumber,
                  airfilternumber,
                  cabinfilternumber,
                  oilfilternumber,
                  petrolfilternumber,
                  untifreeznumber,
                  hydraulicoilnumber
                )
              "
            >
              ثبت
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
