.add-button{
    background-color: #fef3c4;
    border: none;
}
.add-button:hover{
    background-color: #fef3c4;
    border: solid 4px royalblue;
    opacity: 0.7;
}
.card{
    border-radius: 25px;
    border: solid 4px royalblue;
    background-color: #fef3c4;
}

.history-card-style{
    border: solid 4px royalblue;
    border-radius: 25px;
    background-color: white;
}

#ServiceName {
 font-size: small;
 font-weight: bold;
 white-space: nowrap;
}
#input-text{
    width: 100%;
    border: 0px;
 
}

