<div class="container d-flex justify-content-center pt-5">
  <div class="login-container">
    <div class="container">
      <div class="form-floating">
        <input
          type="text"
          class="form-control"
          id="floatingPassword"
          placeholder="تلفن"
          [(ngModel)]="registerrequest.phonenumber"
        />
        <label for="floatingPassword1">تلفن</label>
      </div>
      <div class="form-floating mt-3">
        <input
          type="text"
          class="form-control"
          id="floatingPassword1"
          placeholder="نام مغازه"
          [(ngModel)]="registerrequest.storename"
        />
        <label for="floatingPassword2">نام مغازه</label>
      </div>
      <div class="form-floating mt-3">
        <input
          [(ngModel)]="registerrequest.pass"
          type="password"
          class="form-control"
          id="floatingPassword2"
          placeholder="رمز ورود"
        />
        <label for="floatingPassword2">رمز ورود</label>
      </div>
      <div class="form-floating mt-3">
        <input
          type="password"
          class="form-control"
          id="floatingPassword3"
          placeholder="تکرار رمز ورود"
          [(ngModel)]="confirmpassword"
        />
        <label for="floatingPassword3">تکرار رمز ورود</label>
      </div>
    </div>
    <div class="row d-flex justify-content-center pb-1">
      <button
        (click)="onRegister()"
        routerLink="/login"
        class="login-to-crm mt-3"
      >
        ثبت نام
      </button>
    </div>
  </div>
</div>
<div class="text-center mt-2">
  <button routerLink="/login" class="return mb-5">بازگشتبه صفحه قبل</button>
</div>
